*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8f8f8;
}

header{
    background:#e23744;
    color:white;
    text-align:center;
    padding:20px;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    color:#555;
}